<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Accountant Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- <script th:src="@{/Javascript/LogoutForm.js}"></script>-->
</head>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111111;
    }
</style>
<body style="background-color: darkgray">
<div class="container justify-content-center align-content-center" >
    <h1 class="h1 border-1" style="color: indigo">Payment Billing System</h1>
    <!--
        <img class="img-fluid" th:src="@{/images/banner.jpg}" alt="" style="max-width: 100%;height: auto">
    -->
    <ul >
        <li ><a th:href="@{/}">Home</a></li>
        <li ><a th:href="@{/student/register}">New Registration</a></li>
        <li><a th:href="@{/accountant}">Accountant</a></li>
        <li ><a th:href="@{#}">Contact us</a></li>
        <li th:ref="navbar-item" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
        </li>
        <div class="container">
            <li>
                <a href="#">Logged as : </a>
            </li>
            <!-- <li>
                 <a href="#" th:text=" ${#authentication.getPrincipal().getFnameLoggedUser}"></a>
             </li>-->
        </div>
        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{logout}">Logout</a>
        </li>
    </ul>
    <div class="alert alert-success" role="alert" th:text="${deletedStudent}" th:if="${deletedStudent}"></div>
    <div class="alert alert-danger" role="alert" th:text="${faildDeletingStudent}" th:if="${faildDeletingStudent}"></div>
    <div class="alert alert-success" role="alert" th:text="${AssignedCourses}" th:if="${AssignedCourses}"></div>
    <div class="alert alert-success" role="alert" th:text="${deletedTrainer}" th:if="${deletedTrainer}"></div>
    <div class="alert alert-danger" role="alert" th:text="${faildDeletedTrainer}" th:if="${faildDeletedTrainer}"></div>
    <div class="alert alert-success" role="alert" th:text="${savedCourse}" th:if="${savedCourse}"></div>
    <div class="alert alert-danger" role="alert" th:text="${FailedsaveCourse}" th:if="${FailedsaveCourse}"></div>
    <div class="alert alert-success" role="alert" th:text="${CourseDeleted}" th:if="${CourseDeleted}"></div>
    <div class="alert alert-danger" role="alert" th:text="${FaildDeleteCourse}" th:if="${FaildDeleteCourse}"></div>

    <div  class="container justify-content-center align-content-center text-center pt-5" style="background-color: white;height: 200px">

<div class="container justify-content-center align-content-center">
    <form th:action="@{/accountant/allstudent}" method="get">
        <input style="display: inline;float: right"  type="submit" class="btn btn-secondary btn-success"  value="All Students">
    </form>
    <form th:action="@{/accountant/getallcourses}" method="get">
        <input  style="display: inline;float: right" class="btn btn-success btn-primary mr-2" type="submit" value="All Courses">

    </form>
    <form th:action="@{/accountant/alltrainer}" method="get">
        <input  style="display: inline;float: right" class="btn btn-success btn-primary mr-2" type="submit" value="All Trainers">

    </form>
</div>


        <div class="container align-content-center justify-content-center" >
            <form th:action="@{/accountant/find}" method="post">
                <label for="branches">Choose Branch</label>
                <select name="branch" id="branches">
                    <th:block th:each="b:${branches}">
                        <option th:name="branch" th:value="${b.name}">[[${b.name}]]</option>
                    </th:block>
                </select><br>
                <input type="search" th:name="search" placeholder="Student Name">
                <input class="btn btn-secondary btn-primary" type="submit" value="Search">

            </form>
            <a style="float:  right" th:href="@{/student/register}">Add Student</a>
            <a style="float: right "  class="mr-2" th:href="@{/accountant/addtrainer}">Add Trainer</a>
            <a style="float: right "  class="mr-2" th:href="@{/accountant/addcourse}">Add Course</a>
        </div>

    </div>
    </div>



    <div class="container text-center" style="background-color: white">
        <h2  class="h2" style="color: red;float: left">Found Student</h2>
        <td><div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div></td>

        <table class="table table-bordered p-2">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Fee</th>
                <th scope="col">Balance</th>
                <th scope="col">Branch</th>
                <th scope="col">Role</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="users" type="aj"*/-->
            <th:block th:each="std:${stds}">
                <tr>
                    <td></td>
                    <td>[[${std.id}]]</td>
                    <td>[[${std.email}]]</td>
                    <td>[[${std.fname}]]</td>
                    <td>[[${std.lname}]]</td>
                    <td>[[${std.fee}]]</td>
                    <td>[[${std.balance}]]</td>
                    <td>[[${std.branch.name}]]</td>
                    <td>[[${std.role.name}]]</td>
                    <td>[[${std.mobile}]]</td>
                    <td sec:authorize="hasAnyAuthority('ADMIN','ACCOUNTANT')">
                        <a class="h6 pr-1 text-primary" th:href="@{'/accountant/student/edit/' +${std.id}}">Edit </a>
                        <a class="h6 text-danger" th:href="@{'/accountant/student/delete/' +${std.id}}">Delete</a>
                        <a class="h6 text-danger" style="color: green!important;display: inline-flex" th:href="@{'/accountant/student/enroll/' +${std.id}}">Join Course</a>

                    </td>

                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="text-center">###############################################################################################</div>

    <div class="container text-center">
        <h2 class="h2" style="color: red;float: left">All Students</h2>
        <table class="table table-bordered p-2">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Fee</th>
                <th scope="col">Balance</th>
                <th scope="col">Branch</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="users" type="aj"*/-->
            <th:block th:each="std:${allstds}">
                <tr>
                    <td></td>
                    <td>[[${std.id}]]</td>
                    <td>[[${std.email}]]</td>
                    <td>[[${std.fname}]]</td>
                    <td>[[${std.lname}]]</td>
                    <td>[[${std.fee}]]</td>
                    <td>[[${std.balance}]]</td>
                    <td>[[${std.branch.name}]]</td>
                    <td>[[${std.mobile}]]</td>
                    <td sec:authorize="hasAnyAuthority('ADMIN','ACCOUNTANT')">
                        <a class="h6 pr-1 text-primary" th:href="@{'/accountant/student/edit/' +${std.id}}">Edit </a>
                        <a class="h6 text-danger" th:href="@{'/accountant/student/delete/' +${std.id}}">Delete</a>
                        <a class="h6 text-danger" style="color: green!important;display: inline-flex" th:href="@{'/accountant/student/enroll/' +${std.id}}">Join Course</a>
                    </td>

                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
    <div class="text-center">###############################################################################################</div>

    <div class="container text-center justify-content-center align-content-center">
        <h2 class="h2" style="color: red;float: left">All Trainers</h2>
        <table class="table table-bordered p-2">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Avialable</th>
                <th scope="col">Phone</th>
                <th scope="col">Branch</th>
                <th scope="col">Courses</th>
                <th scope="col">Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="tr:${trainers}">
                <tr>
                    <td></td>
                    <td>[[${tr.id}]]</td>
                    <td>[[${tr.email}]]</td>
                    <td>[[${tr.fname}]]</td>
                    <td>[[${tr.lname}]]</td>
                    <td>[[${tr.salary}]]</td>
                    <td>[[${tr.available}]]</td>
                    <td>[[${tr.mobile}]]</td>
                    <td>
                        <th:block th:each="bran:${tr.branches}">
                            [[${bran.name}]],
                        </th:block>
                    </td>
                    <td>
                        <th:block th:each="c:${tr.courses}">
                            [[${c.name}]],
                        </th:block>
                    </td>
                    <td sec:authorize="hasAnyAuthority('ADMIN','ACCOUNTANT')">
                        <a class="h6 pr-1 text-primary" th:href="@{'/accountant/trainer/edit/' +${tr.id}}">Edit </a>
                        <a class="h6 text-danger" th:href="@{'/accountant/trainer/delete/' +${tr.id}}">Delete</a>
                        <a style="color: green!important; display: inline-flex" class="h6 text-danger" th:href="@{'/accountant/trainer/assigncourse/' +${tr.id}}">Add Course</a>
                    </td>
                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="text-center">###############################################################################################</div>

    <div class="container text-center justify-content-center align-content-center">
        <h2 class="h2" style="color: red;float: left">All Courses</h2>
        <table class="table table-bordered p-2">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Course Price</th>
                <th scope="col">Course Duration</th>
                <th scope="col">Course Avialable Branches</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="c:${courses}">
                <tr>
                    <td></td>
                    <td>[[${c.name}]]</td>
                    <td>[[${c.courseSalary}]]</td>
                    <td>[[${c.courseDuration}]]</td>
                    <td>
                        <th:block th:each="b:${c.branches}">
                            [[${b.name}]],
                        </th:block>
                    </td>

                    <td sec:authorize="hasAnyAuthority('ADMIN','ACCOUNTANT')">
                        <a class="h6 pr-1 text-primary" th:href="@{'/accountant/course/edit/' +${c.name}}">Edit </a>
                        <a class="h6 text-danger" th:href="@{'/accountant/course/delete/' +${c.name}}">Delete</a>
                    </td>
                    <td></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</body>
</html>